::-webkit-scrollbar {
  /* width: 10px; */
}
/* Track */
::-webkit-scrollbar-track {
  background: blue;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
