.form-group {
  width: 100%;
  margin-bottom: 2rem;
}

.form-label {
  font-size: 1.8rem;
}

.form-input {
  width: 100%;
  font-size: 2rem;
  padding: 1.2rem;
  color: var(--gray-1);
  background-color: var(--deep-dark);
  outline: none;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}

.form-label > textarea {
  min-height: 200px;
  resize: vertical;
}

.form-button {
  background-color: var(--gray-1);
  color: var(--black);
  font-size: 2rem;
  display: inline-block;
  outline: none;
  border: none;
  padding: 1rem 4rem;
  border-radius: 8px;
  cursor: pointer;
}
